.mouse-pointer {
  cursor: pointer;
  width: 500px;
}

.myexpert {
  bottom: 25%;
  width: 250px;
  background: #642dff;
  padding: 10px;
  color: #fff;
  height: 83px;
  left: 8% !important;
}

.my-title {
  font-size: 18px;
}
.bg-expert {
  background-image: url("../../../assets/Ellipse_13.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 50px;
  height: 50px;
}

.bgFQA {
  background-image: url("../../../assets/Group_10.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.question h5 {
  color: #642dff;
  margin-bottom: 10px;
}
