.treatment h1 {
  font-size: 32px;
}

.treatment h4 {
  color: #642dff;
  font-size: 16px;
}

.treatment p {
  font-size: 14px;
  text-align: justify;
}

.bgtreat {
  background-image: url("../../../assets/Group_10.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
