.static-data {
  width: 200px;
}

.large-device h1 {
  font-size: 60px;
}

.meetDoctor {
  background: #642dff;
  padding: 10px;
  border-radius: 8px;
  width: 320px;
}

.meetDoctor h4 {
  font-size: 12px;
}

.bgImage {
  background-image: url("../../../assets/Ellipse_5.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
}

.checkup {
  background: #642dff;
  padding: 10px;
  border-radius: 8px;
  width: 200px;
  margin-left: 35px;
  left: 30px;
  bottom: 158px;
}

.stick-one {
  width: 5px;
  height: 20px;
  background: #fff;
  position: absolute;
  border-radius: 8px;
}

.stick-two {
  width: 25px;
  height: 5px;
  background: #fff;
  border-radius: 8px;
}

.doctors {
  width: 60px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .order-text {
    order: 2;
  }
  .order-image {
    order: 1;
  }

  .large-device h1 {
    font-size: 30px;
  }

  .mouse-pointer {
    width: 100% !important;
    padding: 5px !important;
  }

  .my-title {
    font-size: 14px !important;
  }
  .meetDoctor {
    display: none;
  }
  .checkup {
    bottom: 0;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .order-text {
    order: 2;
  }
  .order-image {
    order: 1;
    padding: 10px;
  }

  .mouse-pointer {
    width: 100% !important;
    padding: 5px !important;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .order-text {
    order: 2;
  }
  .order-image {
    order: 1;
    margin-bottom: 50px;
  }
}

/* Large devices (laptops/desktops, 992px and up)*/
@media only screen and (min-width: 992px) {
  .order-text {
    order: 1;
  }
  .order-image {
    order: 2;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .order-text {
    order: 1;
  }
  .order-image {
    order: 2;
  }
}
